                

<div class="container">
      <div class="row">
          <div class="col-md-3 side_link">
            <h4>Pizza App</h4>
              <ul>
                <li><a [routerLink]="['/add-new-pizza']">Add-new-pizza</a></li>
                    <li><a href="#">View all orders</a></li>
              </ul>
          </div>

        <div class="col-md-9 welcome">
            <h2>Welcome to Admin page</h2>
            <!--<app-add-new-pizza></app-add-new-pizza>-->
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
